@import "tailwindcss";


.nav-glass-card {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
  backdrop-filter: blur(1px);
  transition: all 0.3s ease;
}

.btn-glass-card {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
}

.font-dis {
  font-family: 'Bowlby One SC', cursive;
}

.logout-btn {
  transition: all 0.5s ease
}

.logout-btn:hover {
  background: rgb(0, 0, 130);
  backdrop-filter: blur(15px);
  color: #fff;
  font-weight: bold;
}

body {
  font-size: 18px;
  overflow-x: hidden;
  line-height: 1.4;
  font-weight: 300;
  background: #f5f5f5;
}

.description {
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-height: 80vh;
}

.panel {
  transition: all 0.3s ease;
}

.camp {
  width: 6.5ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typing 2s steps(50) infinite;
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

.menu-glass-card {
  background: whitesmoke;
  border-radius: 50%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

@keyframes autoRun {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes reverseRun {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

.login {
  background: conic-gradient(from 36deg at 25% 80%,
      #A100FFFF
      0%,
      #000000
      25%,
      #119CFDFF
      30%);
}

.signup {
  background: conic-gradient(from 36deg at 25% 80%,
  #A100FFFF
  0%,
  #000000
  25%,
  #119CFDFF
  30%);
}

.memo{
  display: flex;
  gap: 80px;
  transition: all 0.3s ease;
}

.memo:hover{
  gap: 100px;
}
